.card{
    width: 400px;
    font-family: poppins;
    margin-top: 250px;
    
  }
  .card-body table{
    font-size: 15px;
  }
  .card-body table tr td{
    padding: 5px;
  }
  .btn {
    margin-top: 5px;
    width: 75%;
  }
  .card-footer b{
    font-size: 12px;
  }
  .alert {
    margin-left: 10px;
    margin-right: 10px;
  }
  .card-footer h4{
    font-family: sans-serif;
    margin-top: 25px;
  }